* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    text-align: center;
    background-color: brown;
    color: aquamarine;
}
h1 {
    padding-block: 30px;
}
h3 {
    padding-block: 15px;
    width: 30vw;
}
form {
    padding-block: 30px;
}
ul {
    padding-block: 15px;
}
li {
    padding-block: 4px;
    list-style-type: ;
}

.list {
    margin-inline: 30px;
    border: 2px solid black;
    border-radius: 15px;
    width: 30vw;
}
#myCheckbox {
    margin-right: 10px;
}
